.mypimarytext{
    color: #CF6823;
    text-decoration: none;
}
.mypimarybg{
    background-color: #CF6823;
}

.mypimaryborder{
    border: 2px solid #CF6823;
}

.mypsecontext{
    color: #1A0603;
    text-decoration: none;
}
.mypseconbg{
    background-color: #1A0603;
}

.mypthirdtext{
    color: #FFBF31;
    text-decoration: none;
}

.mypthirdbg{
    background-color: #FFBF31;
}

.myboxshadow{
    box-shadow: 0px 0px 10px #CF6823;
}

.myboxshadow1{
    box-shadow: 0px 0px 4px #1A0603;
}

.mytextshadow{
    text-shadow: 0px 2px 5px #CF6823;
}

.myopacity{
    opacity: 0.8;
}

.myopacity0{
    opacity: 1;
}

.myopacity1{
    opacity: 0.4;
}

.mytextallign{
    text-align-last: justify;
}

.imgcardheigh{
    height: 180px;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }

  .active{
    color: white !important;
  }

  .my-bg-image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }

  #commentform{
    display: none;
  }


  .rating {
    float:left;
  }

  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
      position:absolute;
      top:-9999px;
      clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
      float:right;
      width:1em;
      /* padding:0 .1em; */
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:120%;
      /* line-height:1.2; */
      color:#ddd;
  }

  .rating:not(:checked) > label:before {
      content: '★ ';
  }

  .rating > input:checked ~ label {
      color: dodgerblue;
      
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: dodgerblue;
      
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: dodgerblue;
      
  }

  .rating > label:active {
      position:relative;
      top:2px;
      left:2px;
  }